<body>
<div class="container mt-4">
    <h2 class="mb-4 text-center">My Favorites</h2>
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let recipe of recipes">
            <div class="card h-100 shadow-sm">
                <img [src]="recipe.image" class="card-img-top" alt="Recipe Image" style="height: 200px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text" [innerHTML]="recipe.summary | slice:0:100"></p>
                 
                </div>
            </div>
        </div>
    </div>
</div>

</body>